body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

h2 {
    color: black;
}

ul {
    list-style-type: square;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
